.button.is-success:focus,
.button.is-success.is-focused {
    border-color: transparent;
    color: #fff;
}

@each $name,
$color in $colors {
    .button.is-#{$name}.is-light {
        border-color: nth($color, 1);
        &:focus,
        &.is-focused {
            border-color: transparent;
            color: nth($color, 1);
        }
    }
}

.button.is-static {
    @each $name,
    $color in $colors {
        &.is-#{$name} {
            background-color: nth($color, 1) !important;
            border-color: transparent;
            color: nth($color, 2) !important;
        }
        &.is-#{$name}-blend {
            @include gradientMagic(nth($color, 1));
            border-color: transparent;
            color: nth($color, 2) !important;
        }
    }
}

.button.is-long {
    min-width: 150px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button.is-bookmark {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 8px;
    .mdi {
        margin: 0px;
    }
    span[data-toggle="text"] {
        margin-left: 5px;
    }
}

table.table {
    .button.is-small:not(.is-static) {
        border-radius: 2px;
        font-size: .65rem !important;
        padding-bottom: 2px;
        padding-top: 2px;
        height: auto;
    }
    .button.is-normal-small {
        border-radius: 2px;
        font-size: 0.75rem;
    }
}