.message.is-modal {
    height: 100vh;
    .message-body {
        overflow-y: scroll;
        height: calc(100% - 56px);
    }
}

.message.is-normal-font {
    .message-body {
        font-size: 1rem !important;
        padding: .5em .75em;
    }
}

.modal {
	.has-hidden-scrollbar {
		.modal-content {
			overflow: visible !important;
		}
	}

	&.is-active.modal-no-background {
		.modal-background {
			background-color: unset !important;
		}

		.modal-card {
			-webkit-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.04);
			-moz-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.04);
			box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.04);
		}
	}
}