// @charset "utf-8";
@import "~bulma/sass/utilities/_all";

// Mixins ---------------------------------------------
@import "mixin";

// Font Import from google Font
@import url('https://fonts.googleapis.com/css?family=Crete+Round|DM+Serif+Text|Roboto+Condensed&display=swap');

$roboto: 'Roboto Condensed', sans-serif;
$crete: 'Crete Round', serif;
$dmserif: 'DM Serif Text', serif;

$p_font: $roboto;
$h1_font: $crete;
$h2_font: $dmserif;

// Set your colors
$primary: #D36464;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$tablet: 719px;

// NAVBAR ----------------------------------------------

.navbar {
	margin-bottom: 10px;
}

.navbar-item {
	font-family: $roboto;
	text-transform: uppercase;
}

.navbar-burger {
	cursor: pointer;
}

@media only screen and (max-width: 480px) {
	.navbar {
		margin-bottom: 20px;
	}

	.navbar-end {
		padding-top: 10px;
		margin-top: 10px;
		border-top-color: $primary;
		border-top-width: 2px;
		border-top-style: solid;
	}
}

// ----------------------------------------------

body {
	font-family: $roboto;
	margin-top: 0px !important;

	&.marginless{
		margin-top:62px !important;
	}
}

.input {
	box-shadow: 4px 3px 3px rgba(10, 10, 10, 0.1);
}

.button:hover {
	opacity: .9;
}

.button, .input{
	border-radius: 0px;
}

.mdi {
	margin-left: 5px;
	margin-right: 5px;

	&.in-right {
		margin-right: 0px;
	}

	&.in-left {
		margin-left: 0px;
	}
}

section.info {
	padding: 9px 32px;
	margin-top: 9px;
	font-family: $roboto;
}

section.main-content {
	padding: 32px 32px;
}

section.activity {
	padding: 18px 32px;
}

.column.is-section {
	padding: 0px;
	min-height: calc(100vh - 52px);
}

.profile-user {
	width: 100%;
	height: 185px;
	overflow: hidden;
}

.button.is-list {
	text-align: left;
	display: block;
}

.project-list {
	li {
		margin-bottom: 5px;
	}
}

.box.is-level-widget {
	min-width: 150px;
	width: 100%;
}

.b-table {
	.level:not(.top) {
        padding-bottom: 0px !important;
    }
}

.b-checkbox.checkbox .control-label {
	padding-left: 0px !important;
}

[disabled] {
	background-color: lighten(#a5a5a5, 10%) !important;
	border-color: lighten(#a5a5a5, 10%) !important;
}

.hero.is-bold {
	&.is-primary {
		background: linear-gradient(
		242deg,
		rgba(195, 195, 195, 0.02) 0%, 
		rgba(195, 195, 195, 0.02) 16.667%,
		rgba(91, 91, 91, 0.02) 16.667%, 
		rgba(91, 91, 91, 0.02) 33.334%,
		rgba(230, 230, 230, 0.02) 33.334%, 
		rgba(230, 230, 230, 0.02) 50.001000000000005%,
		rgba(18, 18, 18, 0.02) 50.001%, 
		rgba(18, 18, 18, 0.02) 66.668%,
		rgba(163, 163, 163, 0.02) 66.668%, 
		rgba(163, 163, 163, 0.02) 83.33500000000001%,
		rgba(140, 140, 140, 0.02) 83.335%, 
		rgba(140, 140, 140, 0.02) 100.002%
	), linear-gradient(
		152deg, 
		rgba(151, 151, 151, 0.02) 0%, 
		rgba(151, 151, 151, 0.02) 16.667%,
		rgba(11, 11, 11, 0.02) 16.667%, 
		rgba(11, 11, 11, 0.02) 33.334%,
		rgba(162, 162, 162, 0.02) 33.334%, 
		rgba(162, 162, 162, 0.02) 50.001000000000005%,
		rgba(171, 171, 171, 0.02) 50.001%, 
		rgba(171, 171, 171, 0.02) 66.668%,
		rgba(119, 119, 119, 0.02) 66.668%, 
		rgba(119, 119, 119, 0.02) 83.33500000000001%,
		rgba(106, 106, 106, 0.02) 83.335%, 
		rgba(106, 106, 106, 0.02) 100.002%
	),linear-gradient(
		11deg, 
		rgba(245, 245, 245, 0.01) 0%, 
		rgba(245, 245, 245, 0.01) 16.667%,
		rgba(23, 23, 23, 0.01) 16.667%, 
		rgba(23, 23, 23, 0.01) 33.334%,
		rgba(96, 96, 96, 0.01) 33.334%, 
		rgba(96, 96, 96, 0.01) 50.001000000000005%,
		rgba(140, 140, 140, 0.01) 50.001%, 
		rgba(140, 140, 140, 0.01) 66.668%,
		rgba(120, 120, 120, 0.01) 66.668%, 
		rgba(120, 120, 120, 0.01) 83.33500000000001%,
		rgba(48, 48, 48, 0.01) 83.335%, 
		rgba(48, 48, 48, 0.01) 100.002%
	),linear-gradient(
		27deg, 
		rgba(106, 106, 106, 0.03) 0%, 
		rgba(106, 106, 106, 0.03) 14.286%,
		rgba(203, 203, 203, 0.03) 14.286%, 
		rgba(203, 203, 203, 0.03) 28.572%,
		rgba(54, 54, 54, 0.03) 28.572%, 
		rgba(54, 54, 54, 0.03) 42.858%,
		rgba(75, 75, 75, 0.03) 42.858%, 
		rgba(75, 75, 75, 0.03) 57.144%,
		rgba(216, 216, 216, 0.03) 57.144%, 
		rgba(216, 216, 216, 0.03) 71.42999999999999%,
		rgba(39, 39, 39, 0.03) 71.43%, 
		rgba(39, 39, 39, 0.03) 85.71600000000001%,
		rgba(246, 246, 246, 0.03) 85.716%, 
		rgba(246, 246, 246, 0.03) 100.002%
	),linear-gradient(
		317deg, 
		rgba(215, 215, 215, 0.01) 0%, 
		rgba(215, 215, 215, 0.01) 16.667%,
		rgba(72, 72, 72, 0.01) 16.667%, 
		rgba(72, 72, 72, 0.01) 33.334%,
		rgba(253, 253, 253, 0.01) 33.334%, 
		rgba(253, 253, 253, 0.01) 50.001000000000005%,
		rgba(4, 4, 4, 0.01) 50.001%, 
		rgba(4, 4, 4, 0.01) 66.668%,
		rgba(183, 183, 183, 0.01) 66.668%, 
		rgba(183, 183, 183, 0.01) 83.33500000000001%,
		rgba(17, 17, 17, 0.01) 83.335%, 
		rgba(17, 17, 17, 0.01) 100.002%
	),linear-gradient(
		128deg, 
		rgba(119, 119, 119, 0.03) 0%, 
		rgba(119, 119, 119, 0.03) 12.5%,
		rgba(91, 91, 91, 0.03) 12.5%, 
		rgba(91, 91, 91, 0.03) 25%,
		rgba(45, 45, 45, 0.03) 25%, 
		rgba(45, 45, 45, 0.03) 37.5%,
		rgba(182, 182, 182, 0.03) 37.5%, 
		rgba(182, 182, 182, 0.03) 50%,
		rgba(243, 243, 243, 0.03) 50%, 
		rgba(243, 243, 243, 0.03) 62.5%,
		rgba(162, 162, 162, 0.03) 62.5%, 
		rgba(162, 162, 162, 0.03) 75%,
		rgba(190, 190, 190, 0.03) 75%, 
		rgba(190, 190, 190, 0.03) 87.5%,
		rgba(148, 148, 148, 0.03) 87.5%, 
		rgba(148, 148, 148, 0.03) 100%
	),linear-gradient(
		90deg, 	
		rgb(204, 103, 63),	
		rgb(223, 35, 11)
	) !important;
	}

	&.is-warning {
		background: repeating-linear-gradient(
			90deg, 
			rgba(253, 253, 253, 0.05) 0px, 
			rgba(253, 253, 253, 0.05) 103px,
			rgba(208, 208, 208, 0.05) 103px, 
			rgba(208, 208, 208, 0.05) 206px
		), repeating-linear-gradient(
			0deg, 
			rgba(141, 141, 141, 0.09) 0px, 
			rgba(141, 141, 141, 0.09) 93px,
			rgba(101, 101, 101, 0.09) 93px, 
			rgba(101, 101, 101, 0.09) 186px
		), linear-gradient(
			90deg, 
			rgb(221, 214, 21),
			rgb(206, 158, 25)
		) !important;
	}
}

.message.is-modal {
	height: 100vh;

	.message-body {
		overflow-y:scroll;
		height: calc(100% - 56px);
	}
}

.is-packed > .table-wrapper > .table {
	td {
		padding: 5px 0.75em !important; 
	}
}

.level.sub-nav {
	&.is-primary {
		@include gradientMagic($primary);
	}

	&.is-success {
		@include gradientMagic($success);
	}

	&.is-warning {
		@include gradientMagic($warning);
	}

	&.is-info {
		@include gradientMagic($info);
	}

	&.is-light {
		@include gradientMagic($light);
	}

	&.is-dark {
		@include gradientMagic($dark);
		color: $light;
	}

	padding: 0.75em;
	border-radius: 5px;
}

p.heading.is-normal {
	font-size: 1em;
	margin-bottom: 0px;
}

.is-checked > .checkbox-cell {
	.check {
		background-color: $info !important;
    	border-color: $info !important;
	}
}

.checkbox-cell {
	.b-checkbox:hover > .check {
		border-color: $info !important;
	}
}

@import "~bulma";
@import "~buefy/src/scss/buefy";