// @charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/bulma.sass";

// Mixins ---------------------------------------------
@import "mixins/gradient";
@import "mixins/text";

// Font Import from google Font
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Roboto+Condensed|Raleway:400,800|Staatliches&display=swap');

$roboto: 'Roboto Condensed', sans-serif !important;
$crete: 'Crete Round', serif !important;
$staat: 'Staatliches', cursive !important;

$p_font: $roboto;
$h1_font: $staat;
$h2_font: $crete;

// Set your colors
$primary: #D36464;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$pink: rgb(250, 129, 150);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"pink": (rgb(250, 129, 150), $white),
	"grey": (grey, $white),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$heroBold: (
	"pink": linear-gradient(90deg, rgb(183, 84, 203),rgb(232, 47, 180)),
	"light": linear-gradient(90deg, $light,#cfcfdf),
	"dark": linear-gradient(90deg, $dark,rgb(85, 85, 85)),
	"danger": linear-gradient(45deg, rgb(221, 15, 86),rgb(198, 192, 66)),
	"warning": linear-gradient(90deg, rgb(245, 220, 59),rgb(231, 184, 96)),
	"info": linear-gradient(90deg, rgb(113, 136, 223),rgb(17, 213, 207)),
	"success": linear-gradient(135deg, rgb(174, 243, 64),rgb(76, 165, 108))
);

// set sizes
$size-1: 1.5rem;
$tablet: 719px;
$section-padding: 1.8rem ;
$panel-heading-size: 1rem;
$section-padding-medium: 9rem 3rem;
$section-padding-large: 18rem 3rem;

$table-striped-row-even-background-color: lighten($light, 2%);
$table-striped-row-even-hover-background-color: lighten($info, 35%);
$table-row-hover-background-color: lighten($info, 35%);

*, *:before, *:after {
  box-sizing: border-box;
}

//? Pastikan ke mas papang mau pake infobar
html {
	overflow: hidden !important;
}

//* @MAIN LAYOUT -----------------------------------------

*::-webkit-scrollbar {
	display: none;
}

body {
	font-family: $roboto;
	overflow: hidden;
	
	& > .wrapper {
		min-height: 100vh;
		margin: 0px;
		display: grid;

		overflow: hidden;
	}
}

@media screen and (max-width: 1024px) {
	.sidebar {
		display: none !important;
	}

	//? Pastikan ke mas papang mau pake infobar
	//! delete every info-bottom-bar
	.info-bottom-bar {
		display: none !important;
	}

	.wrapper {
		grid-template-rows: 50px calc(100vh - 80px) 30px;
	}
}

@media screen and (min-width: 1024px) {
	/* no grid support? */
	.sidebar {
		grid-column: 1;
        grid-row: 1 / 4;

		float: left;
		width: 275px;
		padding: 1rem;

		// background: linear-gradient(135deg, ghostwhite, rgb(233, 233, 233));
		@include sidebarGradient($light, ghostwhite);
		-webkit-box-shadow: inset -10px 0px 62px -51px rgba(0,0,0,0.75);
		-moz-box-shadow: inset -10px 0px 62px -51px rgba(0,0,0,0.75);
		box-shadow: inset -10px 0px 62px -51px rgba(0,0,0,0.75);

		&.has-background {
			background: none !important;

			& .set-background {
				content : "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: url('https://images.unsplash.com/photo-1571757767119-68b8dbed8c97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
				width: 100%;
				height: 100%;
				z-index: -1;

				filter: grayscale(10%);
				background-position-x: center !important;
				background-size: cover !important;
			}
		}

		.brand {
			width: 100%;
			margin-bottom: 1rem;

			@include brand(36px, -1px);
		}
	}

	.wrapper {
		margin: 0 auto;
		grid-template-columns: 275px calc(100vw - 275px);
		grid-template-rows: 50px calc(100vh - 80px) 30px;

		.sidebar {
			overflow-y: auto !important;
			position: relative;
		}

		& > .navbar {
			grid-column: 2;
			grid-row: 1;

			float: right;
			width: 80%;
		}

		& > .contentPage {
			grid-column: 2;
			grid-row: 2;

			position: relative;
			float: right;
			width: 80%;

			overflow: auto;
		}

		& .info-bottom-bar {
			grid-column: 2;
			grid-row: 3;

			float: right;
			width: 80%;
		}

		&.sidebar-float {
			grid-template-columns: 1fr;
			
			.sidebar {
				grid-column: none;
				position: fixed;
				height: 100vh;
				z-index: 100;
				width: 275px;
			}

			& > .navbar {
				grid-column: 1;
				grid-row: 1;
				width: 100%;
			}

			& > .contentPage {
				grid-column: 1;
				grid-row: 2;
				width: 100%;
			}

			& .info-bottom-bar {
				grid-column: 1;
				grid-row: 3;
				width: 100%;
			}

			&.sidebar-auto .sidebar {
				display: none;
				z-index: 100;

				-webkit-box-shadow: 0px 0px 15px 1px rgba(119, 119, 119, 0.75);
				-moz-box-shadow: 0px 0px 15px 1px rgba(119, 119, 119, 0.75);
				box-shadow: 0px 0px 15px 1px rgba(119, 119, 119, 0.75);
			}

			&.sidebar-show .sidebar, & .sidebar:hover {
				display: block !important;
			}
		}
	}
}

@supports (display: grid) {
  body > .wrapper {
    & > .contentPage, & > .navbar, & .info-bottom-bar {
		width: 100%;
    	margin: 0;
	}
  }
}

//! ------------------------------------------------------
//* @SIDEBAR ---------------------------------------------

.side-list {
	.side-list {
		.parent-list {
			padding-left: 1rem;
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;

			label {
				padding-left: 8px;
			}
		}

		ul {
			margin-left: 1.5rem;
			border-left-color: lighten($primary, 15%);
			border-left-style: solid;
			border-left-width: 0.5px;
		}

		.side-item:hover:not(.is-active) {
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;
		}
	}

	.parent-list {
		width: 100%;
		margin-top: 5px;
		padding: 5px 8px;
		display: block !important;
		cursor: pointer;

		&:hover {
			background: linear-gradient(135deg, rgba(245, 177, 77, 0.7),rgba(237, 53, 115, 0.7));
			border-radius: 3px;
		}

		&.is-active {
			background: linear-gradient(90deg, rgba(51, 138, 249, 0.5),rgba(47, 248, 255, 0.5));
			border-radius: 3px;
			
			label {
				color: $light !important;
			}

			.action .tag {
				background-color: $info !important;
				color: $light !important;
			}
		}
		
		.list-title {
			overflow: auto;
		}

		label {
			float: left;
			width: 80%;
			font-size: 1rem;
			cursor: pointer;
			color: lighten($dark, 20%);
			text-transform: uppercase;
			font-weight: bold;
		}

		.action {
			margin: 0px;
			float: right;
			font-weight: bolder;
			text-align: center;
			color: $dark;
		}
	}

	ul {
		margin-top: .5rem;
		margin-bottom: 1rem;
		// padding-left: 1rem;

		.parent-list {
			&:hover {
				background: linear-gradient(135deg, rgba(248, 207, 144, 0.5),rgba(245, 126, 165, 0.5));
			}
			
			label {
				font-weight: normal;
				text-transform: none;
			}
		}
	}

	.side-item {
		cursor: pointer;
		padding-left: 1rem;
		margin-top: 5px;
		margin-bottom: 5px;

		a {
			padding: 5px 8px;
			color: lighten($dark, 15%);
			width: 100%;
			display: block;
		}

		input {
			padding: 5px 5px;
			background-color: ghostwhite;
			border: none;
			width: calc(100% - 10px);
			border-radius: 3px;
			margin: 5px 5px;
		}

		&.is-active {
			background: linear-gradient(90deg, rgba(51, 138, 249, 0.5),rgba(47, 248, 255, 0.5));
			border-radius: 3px;
			
			a:not(.dropdown-item) {
				color: $light !important;
			}
		}

		&:hover:not(.is-active) {
			background: linear-gradient(135deg, rgba(248, 207, 144, 0.5),rgba(245, 126, 165, 0.5));
			border-radius: 3px;
		}

		&.media .media-right {
			min-width: 26px;
			margin-top: 5.5px;
			margin-right: 6px;
			margin-left: 2px;

			.button {
				padding-left: 2px;
				padding-right: 2px;
			}
			
			& > .action {
				color: #fff;
				display: none;
			}

			.dropdown {
				&.is-bottom-left .dropdown-menu {
					right: -5px;
					top: 26px;
				}

				.dropdown-menu {
					min-width: 75px;
					.dropdown-content {
						border-radius: 0px;
						padding: 0px;
					}
				}
			}
		}

		&.media:hover .media-right {
			& > .action {
				display: block;
			}
		}

		&.media + .media {
			border-top: none;
			margin-top: 0px;
			padding-top: 0px;
		}
	}
}

.sidebar.has-background .side-list {
	.side-item:hover:not(.is-active) {
		background: linear-gradient(135deg, rgba(248, 207, 144, 0.7),rgba(245, 126, 165, 0.7));
		border-radius: 3px;
	}
}

//! -----------------------------------------------------
//* @NAVBAR ----------------------------------------------

.navbar.main {
	padding-right: 15px;
	@include navbarGradient(rgb(243, 42, 76), rgb(223, 102, 72));
}

.main-navbar {
	.navbar-item {
		font-family: $roboto;
		text-transform: uppercase;
		
		&.is-active:not(.hover-text) {
			background: linear-gradient(90deg, rgb(206, 176, 77),rgb(229, 226, 55));
			font-weight: bolder;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}

		&.is-active.hover-text {
			background-color: transparent !important;

			.mdi {
				color: $warning;
			}

			span[data-toggle="text"] {
				display: block !important;

				background: linear-gradient(90deg, rgb(206, 176, 77),rgb(229, 226, 55));
				font-weight: bolder;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
			}
		}
	}
}

.navbar-burger {
	cursor: pointer;
}

@media only screen and (max-width: 480px) {
	.navbar {
		margin-bottom: 20px;
	}

	.navbar-end {
		padding-top: 10px;
		margin-top: 10px;
		border-top-color: $primary;
		border-top-width: 2px;
		border-top-style: solid;
	}
}

//! ------------------------------------------------------
//* @INFOBAR ---------------------------------------------

.info-bottom-bar {
	background-color: $dark;
	color: $light;
	font-size: .8rem;
	padding: 5px;

	& > .columns, .column {
		margin: 0px !important;
		padding: 0px !important;
	}

	.is-copyright {
		flex: none;
		width: 175px !important;
    	text-align: center;
	}

	.is-performance {
		.item {
			padding: 0px 8px;
			cursor: pointer;
			color: lighten($info, 25%);
		}

		.item:hover {
			background-color: lighten($dark, 10%);
		}
	}
}

//! ------------------------------------------------------
//* @LOADER STYLING --------------------------------------

.loader-wrapper {
	width: 100%;
	height: 100vh;
	display: grid;
	align-content: center;
	justify-content: center;
	position: fixed;
	z-index: 100;

	background: linear-gradient(135deg, rgba(237, 53, 115, 0.7), rgba(245, 177, 77, 0.7));

	img {
		width: 200px;
		padding-bottom:50px;
		opacity: 0.7;
	}
}

//! -----------------------------------------------------
//* @MDI ICON --------------------------------------------

.mdi {
	margin-left: 5px;
	margin-right: 5px;

	&.in-right {
		margin-right: 0px;
	}

	&.in-left {
		margin-left: 0px;
	}
}

.mdi::before {
	vertical-align: bottom !important;
}

.hover-text {
	& > [data-toggle="text"] {
		display: none !important;
		margin-left: 5px;
		margin-right: 5px;

		&.in-right {
			margin-left: 0px;
		}

		&.in-left {
			margin-right: 0px;
		}
	}
}

.hover-text:hover > [data-toggle="text"] {
	display: inline !important;
}

//! -----------------------------------------------------
//* @HERO -----------------------------------------------

.hero {
	.hero-body {
		padding: $section-padding;
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
	}

	&.is-medium > .hero-body {
		padding: $section-padding-medium;
	}

	&.is-large > .hero-body {
		padding: $section-padding-large;
	}

	&.is-bold {
		@each $name, $gradient in $heroBold {
			&.is-#{$name} {
				background: $gradient !important;
			}
		}
	}
}

//! -----------------------------------------------------
//* @GANTTCHART -----------------------------------------

.gmainright {
	width: 50% !important;
}

.gmainleft {
	width: 50% !important;

	.gcontainercol {
		min-width: 100%;

		table {
			min-width: 100%;
		}
	}
}

td.gmajorheading div{
	padding: 5px !important;
}

.gantt td {
	padding: 2px !important;
}

tr.gname {
	cursor: pointer !important;
}

tr.gname {
	td {
		vertical-align: middle;
	}

	&.is-active {
		td {
			background-color: rgb(194, 212, 247);
		}
	}
}

.gcharttableh {
	margin-bottom: 0px !important;
}

tr.gname {
	td {
		vertical-align: middle;
	}

	&.is-active {
		td {
			background-color: rgb(194, 212, 247);
		}
	}
}

.floating-taskbar {
	width: 200px;
    position: fixed;
    right: 15px;
    top: 200px;
	z-index: 35;
	
	.menu-label {
		background-color: #eaeaff;
		text-align: center;
		padding-top: .7rem;
		padding-bottom: .7rem;
		margin: 0px !important;
	}

	.menu-label + .menu-list {
		background-color: #eaeaff;

		li {
			margin-top: 0px !important;
		}
	}
}

//! -----------------------------------------------------
//* @CARD -----------------------------------------------

.card {
	.card-header {
		@include heroGradient($light, darken($light, 20%));
	}

	&.collapse {
		.card-header .icon {
			color: $light !important;
		}

		.card-footer {
			padding: 8px 12px;

			.button {
				min-width: 95px;
			}

			.button-right {
				float: right !important;

				& > .button:first-child {
					margin-right: 5px;
				}
			}
		}

		td {
			vertical-align: middle;
			height: 42px !important;
		}

		td.is-days-has-input {
			width: 150px;

			input.input {
				text-align: center !important;

				&::-webkit-inner-spin-button, 
				&::-webkit-outer-spin-button {  
					opacity: 1;
				}
			}
		}
	}
}

@each $color in $colors {
	$thisColor: nth($color, 2);
	$primeColor: nth($thisColor, 1);

	.has-gradient-#{nth($color, 1)} {
		@include heroGradient($primeColor, darken($primeColor, 20%));
	}

	.has-underline-#{nth($color, 1)} {
		border-bottom: 1.7px solid $primeColor;
	}

	.has-gradient-#{nth($color, 1)}-lighter {
		@include heroGradient(lighten($primeColor, 20%), lighten($primeColor, 10%));
	}

	.message {
		&.is-#{nth($color, 1)} {
			@include heroGradient(lighten($primeColor, 35%), lighten($primeColor, 20%));

			.message-header {
				@include heroGradient(lighten($primeColor, 15%), lighten($primeColor, 5%));
				color: nth($thisColor, 2) !important;
				font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			.message-header + .message-body {
				background-color: lighten($primeColor, 75%);
				border-width: 0px 2px 2px !important;
				border-color: lighten($primeColor, 10%);
			}

			&.has-media-list {
				.media + .media {
					padding-top: 1rem !important;
					border-top: 1px solid $primeColor !important;
				}
			}
		}

		&.is-on-field .message-body{
			padding: 0.4em 1em !important;
		}

		&.has-paddingless-body .message-body{
			padding: 0px !important;
		}
	}

	.field.is-#{nth($color, 1)} {
		.input, .select > select {
			border-color: $primeColor !important;
		}

		.select:not(.is-multiple):not(.is-loading)::after {
			border-color: darken($primeColor, 15%) !important;
		}

		.control > .icon {
			color: $primeColor !important;
		}
	}
}

.message{
	@include heroGradient(lighten(#dbdbdb, 35%), lighten(#dbdbdb, 20%));
		
	.message-header {
		@include heroGradient(lighten(#4a4a4a, 15%), lighten(#4a4a4a, 5%));
		font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.message-header + .message-body {
		background-color: #dbdbdb;
		border-width: 0px 2px 2px !important;
		border-color: lighten(#4a4a4a, 5%);
	}

	&.has-media-list {
		.media + .media {
			padding-top: 1rem !important;
			border-top: 1px solid $dark !important;
		}
	}
	
	&.is-timesheet {
		background: linear-gradient(90deg, rgba(51, 138, 249, 0.5), rgba(47, 248, 255, 0.5)) !important;
		.message-body {
			border-color: blue;
		}
	}
}

.datepicker .datepicker-content {
    height: auto !important;
}

.datepicker {
	.dropdown-menu {
		margin-bottom: 1rem;
	}
}

//! -----------------------------------------------------
//* @CONTENT --------------------------------------------

.white-space {
	display: block;
	width: 100%;
	height: 1rem;

	&.is-small {
		height: 0.5rem;
	}

	&.is-medium {
		height: 2.5rem;
	}

	&.is-large {
		height: 5rem;
	}

	&.is-xxl {
		height: 150px;
	}
}

.contentPage li {
	margin-top: 0.25em !important;
}

.breadcrumb li {
	&.brand {
		@include brand(1rem, -.5px);
		background: linear-gradient(135deg, rgb(32, 186, 230),rgb(110, 6, 173));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;

		&:hover {
			background: linear-gradient(0deg, rgb(238, 4, 44),rgb(202, 203, 40));
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}

	a:hover {
		background: linear-gradient(0deg, rgb(238, 4, 44),rgb(202, 203, 40));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}

	&.is-active a {
		color: $dark;
	}
		
}

.breadcrumb {
	li + li::before {
		content: ">" !important;
	}

	&.has-succeeds-separator li + li::before {
		content: ">" !important;
	}
}

// Vertical align td to middle
td.align-middle {
	vertical-align: middle !important;
}

.dropdown {
	.dropdown-trigger > .mdi.mdi-menu-custom {
		cursor: pointer;
		color: $info;

		&::before {
    		content: "\F35C";
		}
	}

	&.is-active {
		.dropdown-trigger > .mdi.mdi-menu-custom::before {
			content: "\FB87";
		}
	}
}

.dropdown-label {
	font-size: 0.8rem !important;
	font-weight: bold;
	text-align: left;
}

.button.is-bookmark {
	font-size: 0.75rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 8px;

	.mdi {
		margin: 0px;
	}

	span[data-toggle="text"] {
		margin-left: 5px;
	}
}

.b-table {
	.level:not(.top) {
        padding-bottom: 0px !important;
	}	
}

.message.is-modal {
	height: 100vh;

	.message-body {
		overflow-y:scroll;
		height: calc(100% - 56px);
	}
}

.is-packed > .table-wrapper > .table {
	td {
		padding: 5px 0.75em !important;
		vertical-align: middle;
	}
}

.card {
	.b-table {
		.table.is-narrow {
			th {
				padding: 0.5em 0.75em !important;
			}
		}

		.top {
			margin: 15px !important;
		}
	}
}

.searchFilter {
	@include noSelect;
	cursor: pointer;

	&.is-active {
		background-color: lighten($info, 35%);
	}
}

// Vertical Lines Left
.add-border-left {
	border-left-color: whitesmoke;
	border-left-style: solid;
	border-left-width: 2px;
}

// Vertical Lines Right
.add-border-right {
	border-right-color: whitesmoke;
	border-right-style: solid;
	border-right-width: 2px;
}

p.add-divider-bellow {
	border-bottom: solid #dadada 1px;
    margin-bottom: 5px !important;
    padding-bottom: 5px;
}

p.add-divider-top {
	border-top: solid #dadada 1px;
    margin-top: 5px !important;
    padding-top: 5px;
}

.button.is-long {
	min-width: 150px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.timesheet {
	box-shadow: none !important;
	border: solid rgb(189, 189, 189) 1px;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a !important;
	}

	.card-content:first-child {
		background-color: beige;
		min-height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			text-align: center;
		}
	}

	.timesheet-progress {
		width: 100%;
		progress {
			border-radius: 0px;
		}

		p {
			font-size: .75em;
			text-align: center;
			margin-bottom: 5px;
		}
	}
}

.is-username {
	margin: 0px !important;
	font-size: 3.5rem;
	line-height: 1.2em;
	font-family: $staat;
	color: $primary;
	text-shadow: 3px 3px 0px darken($warning, 20%);
}

//! -----------------------------------------------------
//* @PADDING - @MARGIN ----------------------------------

p.is-low-bottom {
	margin-bottom: 0.5em !important;
}

p.has-top-margin {
	margin-top: 1em !important;
}

h1, h2, h3, h4, h5, h6 {
	&.is-reduced-margin {
		margin-bottom: .3rem !important;
	}
}

.has-no-left-padding {
	padding-left: 0px !important;
}

.has-no-right-padding {
	padding-right: 0px !important;
}

.has-buff-padding {
	padding: 2em;
}

//! -----------------------------------------------------
//* @404 ------------------------------------------------

.is-404-content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: ghostwhite;

	h1 {
		font-size: 10rem;
		line-height: 10rem;
		font-family: $staat;
		color: darkseagreen;
		text-shadow: 4px 4px 0px rgb(110, 124, 206);
	}

	p {
		font-weight: bolder;
		font-family: $crete;
	}
}

//! -----------------------------------------------------
//* @PROFILE --------------------------------------------

.profile-picture {
	cursor: pointer;
	position: absolute;
    right: 2em;
	margin-top: -4em;
	
	.image {
		height: 164px !important;
		width: 164px !important;
		
		img {
			border-radius: 12px;
		}
	}

	&:hover {
		img {
			filter: blur(5px);
			filter: grayscale(50%);
		}

		.middle {
			opacity: 1;
		}
	}


}

@import "~bulma";
@import "~buefy/src/scss/buefy";