<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        block title
            title PRouDS 2

        //- Added Later Style
        block styles

    body
        
        .container
            .row.justify-content-center
                .col-md-8.col-lg-10
                    .card.my-5
                        .card-header PRouDS 2 UI

                        block markdown
                            .card-body.p-5(id="readme")

                        

        //- Script Section
        block scripts

        script(src="scripts/index.js")